* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
}

html, body {
    height: 100%;
    background-color: #8EAAF5;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFF2F2;
    overflow: hidden;
}

header {
    background-color: #F8E48C;
    color: #8EAAF5;
    font-weight: 700;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header h1 {
    font-size: 3rem;  /* Aumenté el tamaño del texto */
}

header img {
    width: 100px;  /* Aumenté el tamaño de la imagen */
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    height: 10vh;
    margin: 1.5rem auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
}

.Title h1 {
    color: #8EAAF5;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 0;
}

.container-buttons {
    display: flex;
    justify-content: space-between;  /* Increased space between buttons */
    gap: 3rem;  /* Increased gap between buttons */
    padding: 1rem;
    width: 80%;  /* Ensure the buttons container takes up most of the width */
}

.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

button {
    background-color: #8EAAF5;
    width: 10vw;  /* Botones más pequeños */
    height: 10vw;  /* Botones más pequeños */
    border: none;
    cursor: pointer;
}

button:hover {
    filter: none;
}

button:active {
    transform: none;
}

.btnStatistics {
    background-image: url('../images/icono 05.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btnWords {
    background-image: url('../images/icono 07.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btnEditProfile {
    background-image: url('../images/icono 08.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    height: 10vh;
    background-color: #F8E48C;
    display: flex;
    align-items: center;
    justify-content: left;  /* Flecha alineada a la izquierda */
    padding-left: 20px;
}

footer p {
    font-size: 1rem;
    color: #8EAAF5;
}

.btnBack {
    background-image: url('../images/botones-03.png');
    background-color: #F8E48C;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    width: 8vw;  /* Tamaño más pequeño de la flecha */
    height: 8vh;  /* Tamaño más pequeño de la flecha */
    cursor: pointer;
}

@media (max-width: 768px) {
    .container-buttons {
        flex-direction: column;
        gap: 2rem;
    }
    button {
        width: 25vw;
        height: 25vw;
    }
}
