/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Evita el desplazamiento */
    background-color: white;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #8EAAF5;
    text-align: center;
    color: #FFF2F2;
    overflow: hidden;
}

/* Estilo para el Header */
header {
    background-color: #F8E48C;
    color: #8EAAF5;
    font-weight: 700;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

header h1 {
    font-size: 5vw;
}

header p {
    font-size: 5vw;
}

/* Estilo para el Main */
main {
    flex: 1;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    height: 10vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
}

.Title h1 {
    color: #8EAAF5;
    font-size: 3vh;
    padding: 1rem;
    border-radius: 8px;
    margin: 0;
    text-align: center;
}

/* Container for Buttons */
.container-buttons {
    display: grid;
    gap: 1rem;
    width: 80%;
    height: auto;
    padding: 1rem;
}

/* Responsive grid layout based on orientation */
@media (orientation: landscape) {
    .container-buttons {
        grid-template-columns: repeat(4, 1fr); /* 1x4 when in horizontal mode */
    }
}

@media (orientation: portrait) {
    .container-buttons {
        grid-template-columns: repeat(2, 1fr); /* 2x2 when in vertical mode */
    }
}

/* Estilo para los botones */
.color-button {
    border: none;
    width: 15vw;
    height: min(15vh, 15vw);
    cursor: pointer;
    border-radius: 10px;
    background-color: #8EAAF5;
    transition: transform 0.3s ease, filter 0.2s ease;
}

button:hover {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}

button:active {
    transform: scale(0.95);
}

/* Estilo para el Footer */
footer {
    background-color: #F8E48C;
    color: #FFF2F2;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.2%;
}

.btnBack {
    background-image: url('../images/botones-03.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 10vw;
    height: 9vh;
    cursor: pointer;
}

.footer-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-switch p {
    font-size: 18px;
    font-weight: bold;
    color: #FFF2F2;
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
