/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #8EAAF5;
    color: #FFF2F2;
    overflow: hidden;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #8EAAF5;
    text-align: center;
    color: #FFF2F2;
    overflow: hidden;
}

/* Header */
header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: #F8E48C;
    color: #8EAAF5;
    height: 15vh;
}

header h1 {
    font-weight: 700;
    font-size: 5vh;
    text-align: start;
    margin-left: 2vw;
}

#img-thumbnail {
    height: 13vh;
    background-color: transparent;
}

/* Main */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameTitle {
    position: relative;
    background-color: #FFFFFF;
    color: #8EAAF5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    height: 8vh;
    border-radius: 10px;
    margin-top: -70px; /* Ajuste para elevar el recuadro */
    margin-bottom: 50px;
}

#gameTitle h1 {
    font-size: 4vh;
    margin-left: 1rem;
}

#btnConf {
    background-color: #F8E48C;
    display: inline-block;
}

#container-buttons {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%; /* Asegura que el contenedor toma el espacio disponible */
}

#btnLetters, #btnNotes {
    width: 100px; /* Tamaño uniforme */
    height: 100px; /* Tamaño uniforme */
    aspect-ratio: 1 / 1;
    background-color: transparent;
    background-size: cover; /* Asegura que la imagen cubra el botón */
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}


#btnLetters {
    background-image: url('../images/lettersLogo.png');
}

#btnNotes {
    background-image: url('../images/notepadLogo.png');
}

/* Configuración de columnas para orientación de pantalla */
@media (orientation: landscape) {
    #container-buttons {
        grid-template-columns: repeat(2, 1fr); /* 2x1 cuando está en horizontal */
        grid-template-rows: none;
    }

    #gameTitle {
        
        margin-top: -30px;
        margin-bottom: 30px;
    }
}

@media (orientation: portrait) {
    #container-buttons {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    
    header h1 {
        
        font-size: 5vw;
        
    }

}

footer {
    background-color: #F8E48C;
    color: #FFF2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 1.2%;
    height: 10vh;
}

#btnBack {
    background-image: url('../images/backImage.png');
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    width: 8vh;
    height: 6vh;
    cursor: pointer;
}
