Estilos Globales
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #8EAAF5;
    color: #FFF2F2;
    overflow: hidden;
    text-align: center;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #8EAAF5;
    text-align: center;
    color: #FFF2F2;
    overflow: hidden;
}

/* Header */
header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: #F8E48C;
    color: #8EAAF5;
    height: 15vh;
}

header h1 {
    font-weight: 700;
    font-size: 5vh;
    text-align: start;
    margin-left: 2vw;
}

#img-thumbnail {
    height: 13vh;
    background-color: transparent;
}

/* Main */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameTitle {
    position: relative;
    background-color: #FFFFFF;
    color: #8EAAF5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    height: 8vh;
    border-radius: 10px;
    margin-top: -10px; /* Ajuste para elevar el recuadro */
    margin-bottom: 50px;
}

#gameTitle h1 {
    font-size: 4vh;
    margin-left: 1rem;
}

#btnConf {
    background-color: #F8E48C;
    display: inline-block;
    height: 4.2rem;
    width: 4.2rem;
}

#container-buttons {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%; /* Asegura que el contenedor toma el espacio disponible */
    font-size: 2.3vh;
    font-weight: 600;
}

#btnLetters, #btnNotes {
    width: 15.7rem; /* Tamaño uniforme */
    height: 20%; /* Tamaño uniforme */
    aspect-ratio: 1 / 1;
    background-color: transparent;
    background-size: cover; /* Asegura que la imagen cubra el botón */
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}


#btnLetters {
    background-image: url('../images/lettersLogo.png');
}

#btnNotes {
    background-image: url('../images/notepadLogo.png');
}

/* <!-- Agregar CSS para la imagen de perfil --> */
img.img-thumbnail {
    width: 100px;          /* Tamaño fijo */
    height: 100px;         /* Tamaño fijo */
    border-radius: 50%;    /* Forma circular */
    object-fit: cover;     /* Asegura que la imagen cubra el área sin deformarse */
    margin-right: 10px;    /* Espacio a la derecha de la imagen */
}

/* Configuración de columnas para orientación de pantalla */
@media (orientation: landscape) {
    #container-buttons {
        grid-template-columns: repeat(2, 1fr); /* 2x1 cuando está en horizontal */
        grid-template-rows: none;
    }

    #gameTitle {
        margin-top: -100px; /* Ajuste para elevar el recuadro */
        margin-bottom: 100px;
    }
}

@media (orientation: portrait) {
    #container-buttons {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    
    header h1 {
        
        font-size: 5vw;
        
    }

}

@media (max-height:1028px) {
    #gameTitle{
        margin-top: -20px;
        margin-bottom: 40px;
    }
    #btnLetters, #btnNotes {
        width: 9rem; /* Tamaño uniforme */
        height: 20%; /* Tamaño uniforme */
    }
    #btnConf {
        height: 3.2rem;
        width: 3.2rem;
    }
}

@media (max-height:862px) {
    #btnConf {
        height: 2.6rem;
        width: 2.6rem;
    }
}

@media (max-height:678px) {
    #gameTitle{
        margin-top: -10px;
        margin-bottom: 40px;
    }
    #btnLetters, #btnNotes {
        width: 6.5rem; /* Tamaño uniforme */
        height: 20%; /* Tamaño uniforme */
    }
    #btnConf {
        height: 2.2rem;
        width: 2.2rem;
    }
    img.img-thumbnail{
        width: 70px;          /* Tamaño fijo */
        height: 70px;         /* Tamaño fijo */
        border-radius: 50%;    /* Forma circular */
        object-fit: cover;     /* Asegura que la imagen cubra el área sin deformarse */
        margin-right: 10px; 
    }
}

@media (max-height: 528px) {
    #gameTitle{
        margin-top: 10px;
        margin-bottom: 40px;
    }
    #btnLetters, #btnNotes {
        width: 4rem; /* Tamaño uniforme */
        height: 20%; /* Tamaño uniforme */
    }
    #btnConf {
        height: 1.8rem;
        width: 1.8rem;
    }
    img.img-thumbnail{
        width: 48px;          /* Tamaño fijo */
        height: 48px;         /* Tamaño fijo */
        border-radius: 50%;    /* Forma circular */
        object-fit: cover;     /* Asegura que la imagen cubra el área sin deformarse */
        margin-right: 10px; 
    }
}


