*{
    font-family: "Dosis", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

.congratulations {
    z-index: 1000;
    position: fixed; 
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: transparent;
    height: 25%;
    width: 80%;
}


header {
    background-color: #8EAAF5;
    color: white;
    height:  10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: lightblue;
    max-height: 400px;
    max-width: 85%;
    overflow: hidden; 
}

img {
    width: 100%;
    height: 400px; 
    max-height: 100%; 
    border-radius: 8px;
    object-fit: cover; 
}


.letterBreaker{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5vh;
    color: #FBE48C;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);;
    font-weight: bold;
    background-color: transparent;
    height: 9vh;
}

main {
    flex: 1; 
    display: grid;
    place-items: center;
}

.spacesLetters{
    display: grid;
    gap: 0.5%;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    transform: translate(0%, -100%);
    background-color: transparent;
    padding: 1%;
}

.spaceLetter{
    display: grid;
    place-items: center;
    background-color: rgb(252, 252, 251);
    border-radius: 10%;
    width: 75px;
    height: 75px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 2px solid #9cc6e1;
}

.letters{
    display: grid;
    gap: 0.5%;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    font-size: 4.5vw;
    background-color: transparent;
    font-weight: bold;
    transform: translate(0%, 140%);
}

.letter{
    display: grid;
    place-items: center;
    background-color: rgb(252, 252, 251);
    border-radius: 10%;
    width: 70px;
    height: 70px;
    font-weight: bold;
    font-size: 4.5vw;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 2px solid #9cc6e1;
}

footer {
    background-color: #FBE48C;
    color: white;
    align-items: center;
    display: flex;
    height: 10vh;
}

.BtnGoBack1 {
    display: flex;
    background-image: url("../images/botones-03.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20%;
    height: 7%;
    align-items: center;
    position: absolute;
    justify-content: center;
    z-index: 1;
    transform: translate(20%, 0%);
    border: none;
    background-color: transparent;
    transition: filter 0.3s ease, transform 0.2s ease;
}

.changeWord{
    display: flex;
    background-image: url("../images/cambiar.png");
    background-color:transparent;
    background-size: cover;
    width:9vw;
    height: 8vh;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    transition: filter 0.3s ease, transform 0.2s ease;
    z-index: 20;
    transform: translate(850%, 0%) ;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.congratulations{
    animation: mymove 3s infinite;
}

.BtnGoBack1:hover, .changeWord:hover {
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.5));
}
.BtnGoBack1:active{
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    transform: translate(-10%, 0%) scale(0.95);
}
.changeWord:active{
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    transform: translate(850%, 0%) scale(0.95);
}

