*{
    font-family: "Dosis", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #8EAAF5;
    color: white;
    height:  10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    background-color: transparent;
}


.letterBreaker{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5vh;
    color: #FBE48C;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);;
    font-weight: bold;
    background-color: transparent;
    height: 9vh;
}

main {
    flex: 1; 
}

.spacesLetters{
    display: grid;
    gap: 0.5%;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    transform: translate(0%, 350%);
    margin-top: 20vh;
}

.spaceLetter{
    display: grid;
    place-items: center;
    background-color: rgb(216, 216, 212);
    border-radius: 10%;
    width: 75px;
    height: 75px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.letters{
    display: grid;
    gap: 0.5%;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    font-size: 4.5vw;
    transform: translate(0%, 300%);
    background-color: transparent;
    padding-top: 2.5vh;
    font-weight: bold;
}

.letter{
    display: grid;
    place-items: center;
    background-color: rgb(252, 252, 251);
    border-radius: 10%;
    width: 70px;
    height: 70px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 2px solid #9cc6e1;
}

footer {
    background-color: #FBE48C;
    color: white;
    align-items: center;
    display: flex;
    height: 10vh;
}

.BtnGoBack1 {
    display: flex;
    background-image: url("../images/botones-03.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20%;
    height: 7%;
    align-items: center;
    position: absolute;
    justify-content: center;
    z-index: 1;
    transform: translate(20%, 0%);
    border: none;
    background-color: transparent;
    transition: filter 0.3s ease, transform 0.2s ease;
}

.changeWord{
    display: flex;
    background-color: #8EAAF5;;
    width: 30vw;
    height: 7vh;
    border-radius: 15px;
    border-color: #8EAAF5;
    font-size: 4vw;
    color: #F8E48C;
    font-weight: bold;
    transition: filter 0.3s ease, transform 0.2s ease;
    z-index: 20;
    transform: translate(190%, 0%) ;
    align-items: center;
    justify-content: center;
}

.BtnGoBack1:hover, .changeWord:hover {
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.5));
}
.BtnGoBack1:active{
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    transform: translate(-10%, 0%) scale(0.95);
}
.changeWord:active{
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    transform: translate(190%, 0%) scale(0.95);
}
