body {
    margin: 0;
    padding: 0;
    background-color: #8EAAF5;
    text-align: center;
    color: #FFF2F2;
    font-family: "Dosis", sans-serif;
}

header {
    background-color: #F8E48C;
    color: #8EAAF5;
    font-weight: 800;
    font-size: 60px;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #F8E48C;
    color: #FFF2F2;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #8EAAF5;
}

header {
    font-weight: 700;
    font-size: 28px;
}

footer {
    background-color: #F8E48C;
    color: #FFF2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 1.2%;
    height: 10vh;
}

main p {
    font-size: 20px;
    font-weight: 700;
}

main {
    height: 85vh;
}

.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-wrap: wrap;
}

img.img-thumbnail {
    width: 100px;          /* Tamaño fijo */
    height: 100px;         /* Tamaño fijo */
    border-radius: 50%;    /* Forma circular */
    object-fit: cover;     /* Asegura que la imagen cubra el área sin deformarse */
    margin-right: 10px;    /* Espacio a la derecha de la imagen */
    background-color: #FFFFFF;
    padding: 4px;
}

#img-thumbnail {
    background-color: #FFFFFF;
}


.Title {
    background-color: #FFFFFF;
    color: #8EAAF5;
}

.btnAddPhotos {
    background-image: url('../images/icono 09.svg');
    background-color: #8EAAF5;
    background-size: 100% 100%;
    border: none;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    margin: 1rem;
}

.btnDeleteAccount {
    background-image: url('../images/icono 10.svg');
    background-color: transparent;
    background-size: 100% 100%;
    border: none;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    margin: 1rem;
}

.btnBack {
    background-image: url('../images/backImage.png');
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    width: 8vh;
    height: 6vh;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #FFFFFF;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #8EAAF5;
}

.close {
    color: #8EAAF5;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.photo-space {
    width: 100%;
    height: 200px;
    background-color: #F0F0F0;
    border: 2px dashed #8EAAF5;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#photoPreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    object-position: center;
}

.btnCustomPhoto, .btnCancel {
    background-color: #8EAAF5;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.btnAcceptPhoto {
    background-color: #8EAAF5;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.popup .btnPopupDelete {
    background-color: #FF4B4B;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-image: none;
}

.popup .btnPopupCancel {
    background-color: #8EAAF5;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.popup .btnConfirmPassword {
    background-color: #8EAAF5;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
}

@media (max-width: 767px) {
    header {
        font-size: 16px; 
        padding: 8px 0;
    }
    footer {
        font-size: 20px; 
        padding: 5px 0; 
    }
    main {
        height: 70vh;
    }
    .btnAddPhotos, .btnDeleteAccount {
        width: 8rem;
        height: 8rem;
    }
}

@media (max-height: 660px) {
    header {
        font-size: 16px; 
        padding: 8px 0; 
    }
    footer {
        font-size: 20px; 
        padding: 5px 0; 
    }
    main {
        height: 70vh;
    }
    .btnAddPhotos, .btnDeleteAccount {
        width: 5rem;
        height: 5rem;
    }
}
